body {
margin:0;
padding:0;
font-family: Lucida Sans, Arial, Georgia;
}

h1 {
color:#fff;
}

table {
   padding-top:330px;
   #display:table-cell;
   #vertical-align: middle;
}


#login {
  	background-image: url('../images/login.jpg');
  	background-repeat: no-repeat;
	background-position:center;
	top : 0;
	left : 0; 
  	width:100%;
  	height:100%;
  	text-align: center;
}


input
{
border: 1px solid #8c8c8c;
font-size:1em;
height: 36px;
padding:5px;}
